body {
  font-family: sans-serif;
}

#header {
  height: 30px; width: 99.8%; border: none; background-color: inherit; margin: 10px;
}

#logoContainer {
  font-size: min(36px, 15vw);
  font-weight: bold;
  text-align: left;
  position: relative;
  bottom: 20px;
  font-family: sans-serif;
}

#logoImage {
  height: 4vb; position: relative; top: 5px;
}

#model_name {
  box-sizing: border-box;
  padding: 8px;
  position: relative;
  right: 15px;
  top: 10px;
  width: 20%;
  height: 30px;
  font-size: min(24px, 2.8vw);
  border-radius: 5px;
  border: 1px solid black;
  float: right;
}

#nav {
  width: 100%;
  height: 15px;
}

#myDiagram {
  width: 90%;
  height: 94%;
  border: 1px solid black;
  background-color: white;
  position: absolute;
  right: 20px;
  top: 15px;
}

canvas {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 2;
  user-select: none;
  touch-action: none;
  width: 598px;
  height: 498px;
}

#tabManager {
  border: 1px solid black;
  background-color: white;
  width: min(116px, 8.6%);
  height: 95.8%;
  position: relative;
  left: 20px;
  top: 15px;
  padding: 5px;
  margin-right: 5px;
  z-index: 3;
  overflow: scroll;
}

#addTab {
  width:100%;
  height: 10%;
  border: none;
  background-color: inherit;
  border-radius: 5px;
  position: sticky;
}

#addTabButton {
  font-size: 6vw; color: limegreen;
}

#tabsList {
  height: 90%;
  width: 100%;
  padding-top: 15px;
  border: none;
  background-color: inherit;
}

#display {
  width: 85%;
  height: 94.5%;
  border: 1px solid black;
  background-color: white;
  position: absolute;
  right: 20px;
  top: 15px;
  display: flex;
}

#popForm {
  border: 1px solid black;
  position: absolute;
  top: 180px;
  left: 30%;
  width: 40%;
  height: 400px;
  z-index: 10;
  background-color: white;
  overflow: scroll;
  display: none;
}

#tabConfig {
  padding: 0 5vw;
  font-size: max(24px, 2vw);
}

#submitModel {
  border: none; background-color: inherit; position: relative; left: 90%; margin: 6px; padding: 5px; border-radius: 5px;
}

#submitModelButton {
  color: limegreen;
  font-size: max(50px, 3vw);
}

#eqEditorTitle {
  position: relative;
  color: #ffffff;
  font-size: 25px;
  margin-left: 20px;
  top: 10px;
}

#simParamsTitle {
  position: relative;
  color: #ffffff;
  font-size: 25px;
  margin-left: 20px;
  top: 10px;
}

.simParamsInput {
  box-sizing: border-box;
  padding-left: 8px;
  font-size: 18px;
  width:80%;
  height:40px;
  border: 3px solid black;
}

.simParamsInputError {
  border: 3px solid red;
}

.simParamsInputWarning {
  border: 3px solid goldenrod;
}

#simParamsTable {
  position: relative;
  font-size: min(18px, 2.8vw);
  margin-left: 30px;
  width: 95%;
}

#simParamHighStepCountDesc {
  color: yellow;
}

.webTabs {
  display: inline-block;
  border: none;
  height: 42px;
  background-color: #35829fff;
}

.webTabs button {
  background-color: #176481ff;
  height: 100%;
  border: none;
  padding: 10px 14px;
  font-weight: bold;
  color: white;
  font-size: min(20px, 2.8vw);
  margin: 0px;
  transition: background-color 0.3s;
}

.webTabs button:hover {
  background-color: #307090ff;
  font-weight: bold;
  transition: background-color 0.3s;
}

.webTabs button.active {
  background-color: #35829fff;
  transition: background-color 0.3s;
}

.tabContent {
  background-color: #35829fff;
  width: 100%;
  height: 660px;
  position: relative;
  top: 26px;
  padding-bottom: 20px;
}

#eqEditor {
  background-color: #2ea2ccff;
  width: 100%;
  position: relative;
  
  top: 30px;
  font-size: min(18px, 2.8vw);
}

#eqTableDiv {
  position: relative;
  background-color: white;
  border: 1px solid black;
  margin-left: 20px;
  margin-right: 20px;
  width: 100% - 40px;
  height: 350px;
  overflow: scroll;
  overflow-x: hidden;
}

#simParams {
  background-color: #35829fff;
  width: 100%;
  height: 220px;
  position: relative;

  top: 30px;
  font-size: min(18px, 2.8vw);
}

.simParamCol {
  width: 25%;
  color: white;
  font-size: min(20px, 2.8vw);
}

.tools {
  display: block;
  width: max(82px, min(100px, 10%));
  height: 95%;
  position: absolute;
  left: 20px;
  top: 15px;
  border: none;
  z-index: 3;
}

.tools button {
  background-color: white;
  border: 1px solid black;
  width: 100%;
  height: 16.55%;
  overflow-wrap: anywhere;
  overflow-y: hidden;
  font-size: min(18px, 2.4vw);
}

.tools button:hover {
  background-color: #ddd;
  transition: background-color 0.6s;
}

.tools button.active {
  background-color: #ccc;
}

.action {
  position: absolute;
  right: 10px;
  top: 80px;
}

.action button {
  padding: 5px;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  font-size: min(16px, 2.2vw);
  transition: background-color 0.6s;
}

.action label {
  padding: 5px;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  font-size: min(16px, 2.2vw);
  transition: background-color 0.6s;
}

.action label:hover {
  background-color: #ddd;
}

.action button:hover {
  background-color: #ddd;
}

a:link { text-decoration: none;  color: black;}

a:visited { text-decoration: none;  color: black;}

a:hover { text-decoration: none; color: darkblue;}

a:active { text-decoration: none;  color: black;}