body {
  font-family: sans-serif;
  margin: 0px;
  background-color: #1c1c1c;
}

#grayEffectDiv {
  position: fixed;
  height: 100%; width: 100%;
  border: none;
  z-index: 1001;
  display: none;
  background-color: #00000077;
}

#header {
  position: fixed;

  height: 100px; width: 100%;
  border-bottom: 2px solid #666666;
  background-color: #282828;

  z-index: 1000;
}

#logoContainer {
  font-size: min(36px, 15vw);
  font-weight: bold;
  text-align: left;
  position: relative;
  font-family: sans-serif;
  margin-left: 20px;
  bottom: 5px;
}

#logoImage {
  height: 4vb; position: relative; top: 5px;
}

#model_name {
  box-sizing: border-box;
  padding: 8px;
  position: relative;
  font-size: min(22px, 2.8vw);
  color: #aaaaaa;
  border-radius: 5px;
  border: 2px solid #333333;
  float: right;

  width: 25%;
  height: 30px;
  right: 25px;
  bottom: 15px;

  background-color: #202020;
}

.action {
  position: absolute;
  right: 25px;
  bottom: 15px;
}

.action button {
  padding: 5px;
  background-color: white;
  border: none;
  border-radius: 5px;
  font-size: min(16px, 2.2vw);
  transition: background-color 0.6s;
}

.action img {
  position: relative;
  float: left;
  width: 18px;
  height: 18px;
}

.action label {
  padding: 5px;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  font-size: min(16px, 2.2vw);
  transition: background-color 0.6s;
}

.action label:hover {
  background-color: #ddd;
}

.action button:hover {
  background-color: #ddd;
}

#runButton {
  background-color: #009933;
  color: white;
  width: 100px;
}

#runButton:hover {
  background-color: #33cc33;
  transition: 0.2s;
}

#loadButton {
  background-color: #35829f;
  color: white;
  width: 100px;
}

#loadButton:hover {
  background-color: #3ab3df;
  transition: 0.2s;
}

#exportButton {
  background-color: #35829f;
  color: white;
  width: 100px;
}

#exportButton:hover {
  background-color: #3ab3df;
  transition: 0.2s;
}

#switchThemeButton {
  background-color: #9933ff;
  color: white;
  width: 150px;
}

#switchThemeButton:hover {
  background-color: #a77aff;
  transition: 0.2s;
}

#helpButton {
  background-color: #9933ff;
  color: white;
  width: 80px;
}

#helpButton:hover {
  background-color: #a77aff;
  color: white;
}








#nav {
  width: 100% - 50px;
  height: 15px;

  padding-left: 25px;
  padding-right: 25px;
  padding-top: 120px;
  
}


.webTabs {
  display: inline-block;
  border: none;
  height: 42px;
  background-color: #00000000;
}

.webTabs button {
  background-color: #222222;
  border: 2px solid #3333cc;
  height: 100%;
  font-weight: bold;
  color: white;
  font-size: min(20px, 2.8vw);
  margin: 0px;
  transition: background-color 0.3s;
}

.webTabs button:hover {
  background-color: #2A2A2A;
  font-weight: bold;
  transition: background-color 0.3s;
}

.webTabs button.active {
  background-color: #333333;
  transition: background-color 0.3s;
}

.tabContent {
  background-color: #333333;
  position: relative;

  width: 100% - 50px;
  height: 600px;
  
  top: 25px;
  padding-bottom: 20px;
  margin-left: 25px;
  margin-right: 25px;
  
  border: 2px solid #3333cc;
}


#myDiagram {
  width: 90%;
  height: 94%;
  border: 2px solid #3333cc;
  background-color: #222222;
  position: absolute;
  right: 20px;
  top: 15px;
}

#textarea {
  color: white;
}

canvas {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 2;
  user-select: none;
  touch-action: none;
  width: 598px;
  height: 498px;
}

#tabManager {
  border: 2px solid #555555;
  background-color: #444444;
  width: min(116px, 8.6%);
  height: 95.8%;
  position: relative;
  left: 20px;
  top: 15px;
  padding: 5px;
  margin-right: 5px;
  z-index: 3;
  overflow: scroll;
  overflow-x: hidden;
}

#addTab {
  width:100%;
  height: 10%;
  border: none;
  background-color: inherit;
  border-radius: 5px;
  position: sticky;
}

#addTabButton {
  font-size: 6vw; color: limegreen;
}

#tabsList {
  height: 90%;
  width: 100%;
  padding-top: 15px;
  border: none;
  background-color: inherit;
}

#display {
  width: 85%;
  height: 94.5%;
  border: 2px solid #555555;
  background-color: #444444;
  position: absolute;
  right: 20px;
  top: 15px;
  display: flex;
}

#popForm {
  border: 1px solid black;
  position: absolute;
  top: 180px;
  left: 30%;
  width: 40%;
  height: 400px;
  z-index: 10;
  background-color: white;
  overflow: scroll;
  display: none;
}

#tabConfig {
  padding: 0 5vw;
  font-size: max(24px, 2vw);
}

#submitModel {
  border: none; background-color: inherit; position: relative; left: 90%; margin: 6px; padding: 5px; border-radius: 5px;
}

#submitModelButton {
  color: limegreen;
  font-size: max(50px, 3vw);
}

#datatable {
  height: 100% - 2px;
  width: 100%;
}










#eqEditorTitle {
  position: relative;
  color: #ffffff;
  font-size: 25px;
  margin-left: 20px;
  margin-top: 10px;
}


#eqEditor {
  background-color: #333333;
  width: 100% - 50px;
  position: relative;
  
  font-size: min(18px, 2.8vw);

  margin-top: 30px;
  margin-left: 25px;
  margin-right: 25px;

  border: 2px solid darkgreen;
  border-radius: 15px;
}

#eqTableDiv {
  position: relative;
  border: 2px solid #444444;
  background-color: #202020;
  margin-left: 20px;
  margin-right: 20px;
  width: 100% - 40px;
  height: 350px;
  overflow: scroll;
  overflow-x: hidden;

  padding: 20px;
}

.eqTableHeader {
  color: white;
}

.eqTableInputBox {
  box-sizing: border-box;
  padding-left: 8px;
  font-size: 18px;
  height:40px;

  color: #aaaaaa;
  border-radius: 10px;
  border: 2px solid #444444;

  background-color: #202020;
}

.eqStockBox {
  background-color: #00000000;
}

.eqStockBox .eqTableInputBox {
  border: 2px solid maroon;
}

.eqFlowBox {
  background-color: #00000000;
}

.eqFlowBox .eqTableInputBox {
  border: 2px solid #3333cc;
}

.eqVariableBox {
  background-color: #00000000;
}

.eqVariableBox .eqTableInputBox {
  border: 2px solid darkgreen;
}

#nnUniHeader {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted white; /* If you want dots under the hoverable text */
}

#nnUniTooltip {
  visibility: hidden;
  width: 200px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 20px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;

  top: -5px;
  right: 105%;
}

/* Show the tooltip text when you mouse over the tooltip container */
#nnUniHeader:hover #nnUniTooltip {
  visibility: visible;
}





#simParamsTitle {
  position: relative;
  color: #ffffff;
  font-size: 25px;
  margin-left: 20px;
  margin-top: 10px;
}


#simParams {
  background-color: #333333;
  
  width: 100% - 50px;
  height: 220px;
  position: relative;

  font-size: min(18px, 2.8vw);

  margin-top: 30px;
  margin-left: 25px;
  margin-right: 25px;

  border: 2px solid maroon;
  border-radius: 15px;
}

.simParamCol {
  width: 25%;
  color: white;
  font-size: min(20px, 2.8vw);
}

.simParamsInput {
  box-sizing: border-box;
  padding-left: 8px;
  font-size: 18px;
  width:80%;
  height:40px;

  color: #aaaaaa;
  border-radius: 10px;
  border: 2px solid #444444;

  background-color: #202020;
}

.simParamsInputError {
  border: 3px solid red;
}

.simParamsInputWarning {
  border: 3px solid goldenrod;
}

#simParamsTable {
  position: relative;
  font-size: min(18px, 2.8vw);
  margin-left: 30px;
  width: 95%;
}

input[type=checkbox] {
  width: 20px;
  height: 20px;
}

#simParamHighStepCountDesc {
  color: #dd0000;
}

#simErrorPopup {
  position: fixed;
  width: 40%;
  height: 60%;
  border: 2px solid #333333;
  border-radius: 15px;
  background-color: #1c1c1c;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -70%);
  z-index: 2000;

  display: none;
}

#simErrorPopupTitle {
  color: red;
  font-size: 30px;
  padding-left: 20px;
}

#simErrorPopupDesc {
  font-size: 20px;
  padding-left: 20px;
  padding-right: 20px;
  color: white;
}

#simErrorPopupDismiss {
  position: absolute;
  left: 20px;
  right: 20px;
  bottom: 20px;
  width: 100%-40px;
  height: 50px;
  background-color: #aa0000;
  color: white;
  font-size: 25px;
  border: none;
  border-radius: 15px;
  transition: 0.2s;
}

#simErrorPopupDismiss:hover {
  background-color: #dd0000;
  transition: 0.2s;
}












.tools {
  display: block;
  width: max(82px, min(100px, 10%));
  height: 95%;
  position: absolute;
  left: 20px;
  top: 15px;
  border: none;
  z-index: 3;
}

.tools button {
  background-color: #222222;
  border: 2px solid #3333cc;
  color: white;
  width: 100%;
  height: 16.55%;
  overflow-wrap: anywhere;
  overflow-y: hidden;
  font-size: min(18px, 2.4vw);
  transition: background-color 0.3s;
}

.tools button:hover {
  background-color: #333333;
  transition: background-color 0.3s;
}

.tools button.active {
  background-color: #444444;
  transition: background-color 0.3s;
}


a:link { text-decoration: none;  color: white;}

a:visited { text-decoration: none;  color: white;}

a:hover { text-decoration: none; color: white;}

a:active { text-decoration: none;  color: white;}



/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #555555; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #777777; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #888888; 
}